module.exports = {
  // BIP39 mnemonic phrase
  MNEMONIC: "",
  // INFURA API key
  INFURA_KEY: "",
  // FiatTokenProxy admin - can upgrade implementation contract
  PROXY_ADMIN_ADDRESS: "",
  // Owner - can configure master minter, pauser, and blacklister
  OWNER_ADDRESS: "",
  // Master Minter Owner - Owner of MasterMinter contract
  MASTERMINTER_OWNER_ADDRESS: "",
  // Pauser - can pause the contract
  PAUSER_ADDRESS: "",
  // Blacklister - can blacklist addresses
  BLACKLISTER_ADDRESS: "",
  // FiatTokenProxy contract - override the contract address used in migrations
  PROXY_CONTRACT_ADDRESS: "",
  // LostAndFound - tokens that were locked in the contract are sent to this
  LOST_AND_FOUND_ADDRESS: "",
  // FiatTokenImplementationAddress - (optional) if given for non-usdc migrations we don't deploy FiatToken, just the proxy
  FIAT_TOKEN_IMPLEMENTATION_ADDRESS: "",
  // Master Minter - can configure minters and minter allowance -- only used in usdc migrations
  MASTERMINTER_ADDRESS: "",
  // TokenName - Name of the token e.g. "USD Coin"
  TOKEN_NAME: "",
  // TokenSymbol - Symbol of the token e.g. "USDC"
  TOKEN_SYMBOL: "",
  // TokenCurrency - Currency of the token e.g. "USD"
  TOKEN_CURRENCY: "",
  // TokenDecimals - Number of decimals for the token e.g. 6
  TOKEN_DECIMALS: 6,
  // USE_USDC_MIGRATIONS - whether or not to use legacy migrations in migrations/usdc directory.
  // These migrations deploy each version of FiatToken separately.
  USE_USDC_MIGRATIONS: true,
};
